<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#if_eq pageInfo 'library'}}
        <title>Biblioteca - Colib | A Biblioteca Libertária</title>
    {{/if_eq}}
    {{#if_eq pageInfo 'articles'}}
        <title>Artigos - Colib | A Biblioteca Libertária</title>
    {{/if_eq}}
    {{#if_eq pageInfo 'articles-details'}}
        <title>{{post.title}} - Colib | A Biblioteca Libertária</title>
        <meta property="og:image" content="https://www.colib.site{{post.thumbnail}}">
    {{/if_eq}}
    {{#if_eq pageInfo 'library-details'}}
        <title>{{book.name}} - Colib | A Biblioteca Libertária</title>
        <meta property="og:image" content="https://www.colib.site{{book.cover}}">
    {{/if_eq}}
    {{#if_eq pageInfo 'profile-details'}}
        <title>{{user_detail.nickname}} - Colib | A Biblioteca Libertária</title>
        <meta property="og:image" content="https://www.colib.site{{user_detail.profile_picture}}">
    {{/if_eq}}
    {{#if_eq pageInfo 'login'}}
        <title>Login - Colib | A Biblioteca Libertária</title>
    {{/if_eq}}
    {{#if_not pageInfo "library, articles, articles-details, library-details, profile-details, login"}}
        <title>Colib | A Biblioteca Libertária</title>
    {{/if_not}}

    <link type="image/x-icon" rel="shortcut icon" href="/img/fav.ico">
    <link rel="stylesheet" href="/css/general.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap&family=Courgette&display=swap" rel="stylesheet">
    {{#if_adm}}
        <link rel="stylesheet" href="/css/style-admin.css">
    {{else}}
        {{#if_user}}
            <link rel="stylesheet" href="/css/style-user.css">        
        {{else}}
            <link rel="stylesheet" href="/css/style.css">
        {{/if_user}}
    {{/if_adm}}
    <link rel="stylesheet" href="/css/general-responsive.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172729377-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-172729377-1');
    </script>

</head>
<body>
    {{#if_adm}}
        {{>admin/header}}
        {{{body}}}
        {{>admin/footer}}
    {{else}}
        {{#if_user}}
            {{>user/header}}
            {{{body}}}
            {{>user/footer}}    
        {{else}}
            {{>site/header}}
            {{{body}}}
            {{>site/footer}}
        {{/if_user}}
        
    {{/if_adm}}
</body>

<script src="/js/actions.js"></script>

</html>