<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#if_eq pageInfo 'library'}}
        <title>Biblioteca - Colib | A Biblioteca Libertária</title>
    {{/if_eq}}
    {{#if_eq pageInfo 'articles'}}
        <title>Artigos - Colib | A Biblioteca Libertária</title>
    {{/if_eq}}
    {{#if_eq pageInfo 'articles-details'}}
        <title>{{post.title}} - Colib | A Biblioteca Libertária</title>
        <meta property="og:image" content="https://www.colib.site{{post.thumbnail}}">
        <meta name="description" content="{{trimString post.content}}">
    {{/if_eq}}
    {{#if_eq pageInfo 'library-details'}}
        <title>{{book.name}} - {{book.author}} - Colib | A Biblioteca Libertária</title>
        <meta property="og:image" content="https://www.colib.site{{book.cover}}">
        <meta name="description" content="{{trimString book.description}}">
        <meta name="author" content="{{book.author}}">
    {{/if_eq}}
    {{#if_eq pageInfo 'profile-details'}}
        <title>{{user_detail.nickname}} - Colib | A Biblioteca Libertária</title>
        <meta property="og:image" content="https://www.colib.site{{user_detail.profile_picture}}">
        <meta name="description" content="{{trimString user_detail.profile_desc}}">
    {{/if_eq}}
    {{#if_eq pageInfo 'login'}}
        <title>Login - Colib | A Biblioteca Libertária</title>
    {{/if_eq}}
    {{#if_not pageInfo "library, articles, articles-details, library-details, profile-details, login"}}
        <title>Colib | A Biblioteca Libertária</title>
    {{/if_not}}

    {{#if_not pageInfo "articles-details, library-details, profile-details"}}
        <meta property="og:image" content="https://www.colib.site/uploads/images/profile_pic/colib-1594761744637.png">
        <meta name="description" content="A muito tempo venho acompanhando diversos grupos Libertários nas redes sociais e pude conhecer muita gente realmente engajada, produzindo e compartilhando conteúdos de qualidade.">
    {{/if_not}}

    <link type="image/x-icon" rel="shortcut icon" href="/img/fav.ico">
    <link rel="stylesheet" href="/css/general.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
    {{#if_adm}}
        <link rel="stylesheet" href="/css/style-admin.css">
    {{else}}
        {{#if_user}}
            <link rel="stylesheet" href="/css/style-user.css">        
        {{else}}
            <link rel="stylesheet" href="/css/style.css">
        {{/if_user}}
    {{/if_adm}}
    <link rel="stylesheet" href="/css/general-responsive.css">
</head>
<body>
    {{#if_adm}}
        {{>admin/header}}
        {{{body}}}
        {{>admin/footer}}
    {{else}}
        {{#if_user}}
            {{>user/header}}
            {{{body}}}
            {{>user/footer}}    
        {{else}}
            {{>site/header}}
            {{{body}}}
            {{>site/footer}}
        {{/if_user}}
        
    {{/if_adm}}
</body>

<script src="/js/actions.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172729377-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-172729377-1');
</script>

<!-- Hotjar Tracking Code for https://www.colib.site/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1902609,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</html>