<div id="middle" class="user-middle">
    <div class="header-menu">
        <div class="box-btns">
            <a class="btn-new style-button" href="/user/library">Ver minha Biblioteca</a> 
            <a class="btn-new style-button" href="/user/library">Ver meus Artigos</a> 
        </div>
        <form class="seach">
            <input type="text" class="search-input style-input" placeholder="Pesquisar">
            <button class="search-button"><img src="/img/svg/loupe.svg" alt="Pesquisar"></button>
        </form>
    </div>

    {{>msg}}

    <div class="settings">
        <form action="/user/settings/edit" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="nickname" value="{{user.nickname}}">
            <div class="left content">
                <h2>Atualizar foto e descrição do perfil</h2>
                <div class="profile-picture style-input">
                    {{#if user.profile_picture}} 
                        <img src="{{user.profile_picture}}" alt="{{user.nickname}}">
                    {{/if}}
                    <label>Selecionar foto<br/> do perfil</label>
                    <input type="file" id="profile_picture" name="profile_picture" placeholder="Thumbnail do artigo" accept="image/*">
                </div> 
                <div class="profile-desc">
                    <div id="content-post"></div>
                    <textarea name="profile_desc"></textarea>
                </div>
            </div>
            <div class="right content">
                <h2>Atualizar senha</h2>
                <input type="password" class="style-input" id="password" name="password" placeholder="Digite sua nova senha">
                <input type="password" class="style-input" id="password_confirmation" name="password_confirmation" placeholder="Repita sua nova senha">
                <small>*Preencha os campos acima somente se deseja mudar sua senha.</small>
            </div>
            <div class="bottom content">
                <h2>Minhas Carteiras</h2>
                <h3>Coloque aqui os endereços de suas carteiras para que outros Libertários possam apoiar seu trabalho!</h3>
                {{#if wallets}}
                    {{#each wallets}}
                        <div class="input-wrapper">
                            <input type="text" name="crypto_name" placeholder="Nome da Moeda" class="style-input name" value="{{cryptoName}}">
                            <input type="text" name="crypto_address" placeholder="Endereço de sua carteira" class="style-input address" value="{{cryptoAddress}}">
                        </div>
                    {{/each}}
                {{else}}
                    <div class="input-wrapper">
                        <input type="text" name="crypto_name" placeholder="Nome da Moeda" class="style-input name">
                        <input type="text" name="crypto_address" placeholder="Endereço de sua carteira" class="style-input address">
                    </div>
                    <div class="input-wrapper">
                        <input type="text" name="crypto_name" placeholder="Nome da Moeda" class="style-input name">
                        <input type="text" name="crypto_address" placeholder="Endereço de sua carteira" class="style-input address">
                    </div>
                    <div class="input-wrapper">
                        <input type="text" name="crypto_name" placeholder="Nome da Moeda" class="style-input name">
                        <input type="text" name="crypto_address" placeholder="Endereço de sua carteira" class="style-input address">
                    </div>
                {{/if}}
            </div>
            <button class="style-button" type="submit">Atualizar cadastro</button>
        </form>
    </div>
    {{>ads}}
</div>

<link href="/css/quilljs.1.3.6.css" rel="stylesheet">

<script src="/js/quilljs.1.3.6.js"></script>

<script>
    var quill = new Quill('#content-post', {
    theme: 'snow',
    placeholder: 'Fale sobre você e divulgue aqui seu canal, site ou redes sociais.'
    });

    var string = "{{user.profile_desc}}",
    results = document.querySelector(".ql-editor");
    results.innerHTML = string;
    results.innerHTML = results.textContent;
</script>