<div class="list-items">
    {{#each books}}
        {{#if ../users}}
            {{#each ../users}}
                {{#if_eq _id ../user}}
                    <article class="list-item">
                        <a href="/biblioteca/{{../_id}}/{{../slug}}" class="cover-link"></a>
                        <div class="cover">
                            {{>widgets/profile_icon}}
                            {{#if ../cover}}
                                <img src="{{../cover}}" alt="{{../name}}">
                            {{else}}
                                <img class="not-cover" src="/img/svg/galery-icon.svg" alt="{{name}}">
                            {{/if}}
                        </div>
                        <div class="desc">
                            <h2 title="{{../name}}">{{../name}}</h2>
                            <div class="short-desc">{{../description}}</div>
                            <div class="more-infos">
                                <div class="more-infos-box"><span class="author">Autor: <strong>{{../author}}</strong></span></div>
                                <div class="more-infos-box"><span class="category">Hashtags: <strong>{{../hashtags}}</strong></span></div>
                            </div>
                            <a href="/biblioteca/{{../_id}}/{{../slug}}" class="download-btn style-button button-blue">Baixar livro</a>
                        </div>
                    </article>
                {{/if_eq}}
            {{/each}}
        {{else}}
             <article class="list-item">
                <a href="/biblioteca/{{_id}}/{{slug}}" class="cover-link"></a>
                <div class="cover">
                    {{#if cover}}
                        <img src="{{cover}}" alt="{{name}}">
                    {{else}}
                        <img class="not-cover" src="/img/svg/galery-icon.svg" alt="{{name}}">
                    {{/if}}
                </div>
                <div class="desc">
                    <h2 title="{{name}}">{{name}}</h2>
                    <div class="short-desc">{{description}}</div>
                    <div class="more-infos">
                        <div class="more-infos-box"><span class="author">Autor: <strong>{{author}}</strong></span></div>
                        <div class="more-infos-box"><span class="category">Hashtags: <strong>{{hashtags}}</strong></span></div>
                    </div>
                    <a href="/biblioteca/{{_id}}/{{slug}}" class="download-btn style-button button-blue">Baixar livro</a>
                </div>
            </article>
        {{/if}}
    {{else}}
        <p class="not-found">Ainda não existem livros cadastrados</p>
    {{/each}}
</div>