<div class="list-items">
    {{#each books}}
        <article class="list-item">
            {{#if_adm}}
                <a href="/admin/library/edit/{{_id}}" class="cover-link"></a>
            {{/if_adm}}
            {{#if_user}}
                <a href="/user/library/edit/{{_id}}" class="cover-link"></a>
            {{/if_user}}
           
            <div class="cover">
                {{#if cover}}
                    <img src="{{cover}}" alt="{{name}}">
                {{else}}
                    <img class="not-cover" src="/img/svg/galery-icon.svg" alt="{{name}}">
                {{/if}}
            </div>
            <div class="desc">
                <h2 title="{{name}}">{{name}}</h2>
                <div class="short-desc">{{trimString description}}</div>
                <div class="more-infos">
                    <div class="more-infos-box"><span class="author">Autor: <strong>{{author}}</strong></span></div>
                    <div class="more-infos-box"><span class="category">Hashtags: <strong>{{hashtags}}</strong></span></div>
                </div>
                {{#if_adm}}
                    <a href="/admin/library/edit/{{_id}}" class="download-btn style-button">Editar livro</a>
                {{/if_adm}}
                {{#if_user}}
                    <a href="/user/library/edit/{{_id}}" class="download-btn style-button">Editar livro</a>
                {{/if_user}}
            </div>
        </article>
    {{else}}
        <p>Você ainda não enviou nenhum livro.</p>
    {{/each}}
</div>