<div id="middle">
    <div class="header-menu">
        <div class="register-mensage">
            <a class="btn-new style-button" href="/artigos/">Voltar aos Artigos</a>
            {{>widgets/wellcome_msg}}
        </div>
        {{>widgets/search_bar}}
    </div>

    {{>msg}}

    <div class="content article">
       <h1 class="post-title">{{post.title}}</h1>
       <p class="post-infos">Data: {{post.date}} | Hashtags: {{post.hashtags}}</p>
       <div class="content-post">
            {{post.content}}
       </div>
        
    </div>
    {{>ads}}
</div>

<script>
    var string = "{{post.content}}",
    results = document.querySelector(".content-post");
    results.innerHTML = string;
    results.innerHTML = results.textContent;
</script>