<div id="middle">
    <div class="header-menu">
        <div class="register-mensage">
            <a class="btn-new style-button button-blue" href="/artigos/">Voltar aos Artigos</a>
            {{>widgets/wellcome_msg}}
        </div>
        {{>widgets/search_bar}}
    </div>

    {{>msg}}
        
    <div class="content article">
        <div class="share">
            <p class="title">Compartilhar:</p>
            <ul class="share-items">
                <li class="item fb"><a href="http://facebook.com/share.php?u=https://www.colib.site{{CurrentUrl}}" target="_blank" title="Compartilhar no Facebook"><img src="/img/svg/facebook.svg" alt="Facebook"></a></li>
                <li class="item ms"><a href="https://api.addthis.com/oexchange/0.8/forward/messenger/offer?url=https://www.colib.site{{CurrentUrl}}" target="_blank" title="Compartilhar no Messenger"><img src="/img/svg/messenger.svg" alt="Messenger"></a></li>
                <li class="item wa"><a href="https://api.whatsapp.com/send?text=https://www.colib.site{{CurrentUrl}}" target="_blank" title="Compartilhar no WhatsApp"><img src="/img/svg/whats.svg" alt="Whats"></a></li>
                <li class="item tw"><a href="http://twitter.com/share?text={{post.title}}&url=https://www.colib.site{{CurrentUrl}}&hashtags={{#replace "#" ""}}{{post.hashtags}}{{/replace}}" target="_blank" title="Compartilhar no Twitter"><img src="/img/svg/twitter.svg" alt="Twitter"></a></li>
            </ul>
        </div>

        {{>widgets/profile_icon}}
        
        <div class="like-box">
            <div class="likes-count"><span>{{post.likes.length}}</span> curtidas</div>
            {{#if user}}
                {{#each user}}
                    {{#if access}}
                        <form action="/artigos/curtir" method="post" class="like-form">
                            <input type="hidden" name="post_id" value="{{../post._id}}">
                            <input type="hidden" name="_id" value="{{_id}}">
                            <button type="submit" class="like-btn {{#if_eq_Array _id ../post.likes}}liked{{/if_eq_Array}}"><span class="img-1"><img src="/img/svg/like-active.svg" alt="Curtir">Curtir</span><span class="img-2"><img src="/img/svg/like.svg" alt="Curtir">Curtir</span></button>
                        </form>
                    {{/if}}
                {{/each}}
            {{else}}
                <a href="/user/login?redirect=https://www.colib.site{{CurrentUrl}}" class="like-btn open-modal"><img class="img-2" src="/img/svg/like.svg" alt="Curtir">Curtir</a>
            {{/if}}
        </div>
        <div class="title-block"><h1 class="post-title">{{post.title}}</h1></div>
        <p class="post-infos">
            Data: {{post.date}} | Hashtags: {{post.hashtags}} <br/>
            <span class="listen-content-box">
                <button class="listen style-button button-blue">Iniciar/Pausar Leitura</button>
                <button class="stop style-button button-red">Cancelar Leitura</button>
            </span>
            </p>
        <div class="content-post">
            {{post.content}}
        </div>
        <div class="author-detail">
            <a href="/profile/{{user_detail.nickname}}" title="{{user_detail.nickname}}" class="author-name">Artigo enviado por <strong>{{user_detail.nickname}}</strong></p></a>
            <div class="author-desc"></div>
            {{#if wallets}}
                <div class="author-wallets">
                    <p class="title">Gostou do artigo? Apoie o autor doando criptomoedas para uma das carteiras abaixo:</p>
                    <div class="author-wallets-content">
                        {{#each wallets}}
                            {{#if cryptoName}}
                                {{#if cryptoName}}
                                    {{#if cryptoAddress}}
                                        <p class="wallet-item"><strong>{{cryptoName}}</strong>: {{cryptoAddress}}</p>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    {{>ads}}
</div>

<script>
    var string = "{{post.content}}",
    results = document.querySelector(".content-post");
    results.innerHTML = string;
    results.innerHTML = results.textContent;
</script>

{{#if user_detail.profile_desc}}
    <script>
        var string = "{{user_detail.profile_desc}}",
        results = document.querySelector(".author-desc");
        results.innerHTML = string;
        results.innerHTML = results.textContent;
    </script>
{{/if}}